// variables
@import "../../../../assets/css/utils/variables.scss";

.tabs-container {
  .tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
    margin: 10px auto;

    .tab {
      text-align: center;
      border-bottom: 2px solid transparent;
      transition: border-color 0.2s;

      h5 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
        height: 100%;
        color: $info_color;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        padding: 10px 0;
        margin: 0;
        cursor: pointer;
        transition: color 0.2s;
      }

      &.disabled {
        opacity: 0.4;
        cursor: not-allowed;
      }

      &.active {
        border-color: $main-color;

        h5,
        ::ng-deep .badge-status {
          color: $black-color;
        }
      }

      &:not(.disabled) {
        &:hover {
          h5,
          ::ng-deep .badge-status {
            color: $black-color;
          }
        }
      }

      ::ng-deep {
        .badge-status {
          min-width: 28px !important;
          min-height: 10px !important;
          transition: color 0.2s;

          &::before {
            content: none !important;
          }
        }
      }
    }
  }
}
