<div class="tracking-chart mt-2">
  <div class="header">
    <h5 class="mb-3 tracking-chart-title">
      {{ 'servicesDashboard.perQuartarTitle' | translate }}
    </h5>
  </div>

  <div class="row tracking-chart-row">
    <div class="col-12 col-lg-12">
      <div
        class="tracking-chart-row-bar-chart"
        style="height: 370px; width: 100%;"
      >
        <canvas
          style="height: 370px !important; width: 100%;"
          id="myChart"
          #myChart
        ></canvas>
      </div>
    </div>
  </div>
</div>
