<div class="new-model-dialog-body">
  <ng-container *ngIf="loading; else form_data">
    <div class="my-4">
      <ng-container [ngTemplateOutlet]="skeleton"></ng-container>
    </div>
  </ng-container>

  <ng-template #form_data>
    <div class="follow-up-item-form pb-2" [formGroup]="form">
      <app-filed
        class="d-block mt-3"
        [length]="250"
        formControlName="action"
        [control]="form | getControl: 'action'"
        [title]="'followUp.title' | translate"
        [placeholder]="'followUp.title' | translate"
      ></app-filed>
  
      <div class="mt-3">
        <app-select
          class="d-block"
          formControlName="meetingTypeCode"
          [control]="form | getControl: 'meetingTypeCode'"
          [title]="'followUp.type' | translate"
          [placeholder]="'followUp.type' | translate"
          [items]="lookupsMeetingType"
          [bindVlaue]="'code'"
          [bindLabel]="lang == 'ar' ? 'nameAr' : 'nameEn'"
          [clearable]="true"
        ></app-select>
      </div>
  
      <div class="mt-3">
        <app-textarea-filed
          class="d-block"
          formControlName="topic"
          [control]="form | getControl: 'topic'"
          [title]="'followUp.Description' | translate"
          [placeholder]="'followUp.enterDescription' | translate"
        ></app-textarea-filed>
      </div>
  
      <div class="mt-3">
        <app-nz-date-picker
          class="d-block"
          formControlName="dueDate"
          [control]="form | getControl: 'dueDate'"
          [title]="'followUp.completionDate' | translate"
          [placeholder]="'followUp.completionDate' | translate"
          minDate="yesterday"
        ></app-nz-date-picker>
      </div>
  
      <div class="mt-3">
        <div class="row">
          <div class="col-12">
            <app-radio-group class="d-flex" bindValue="id" formControlName="type">
              <app-radio-box  [value]="1">
                {{ 'followUp.organizationMember' | translate }}
              </app-radio-box>
              <app-radio-box class="mr-4 ml-4"  [value]="2">
                {{ 'followUp.commiteeMembers' | translate }}
              </app-radio-box>
            </app-radio-group>
          </div>
        </div>
      </div>
  
      <div class="mt-3" *ngIf="form.get('type').value == 2">
        <div class="row">
          <div class="col-6">
            <app-select
              class="d-block"
              formControlName="commitee"
              [control]="form | getControl: 'commitee'"
              [title]="'followUp.commiteeName' | translate"
              [placeholder]="'followUp.commiteeName' | translate"
              [items]="commitee"
              [bindVlaue]="'id'"
              [bindLabel]="lang == 'ar'? 'nameAr':'name'"
              (change)="getMembers()"
            ></app-select>
          </div>
  
          <div class="col-6" *ngIf="!!(form | getControl: 'commitee').value">
            <app-select
              class="d-block"
              formControlName="assginee"
              [control]="form | getControl: 'assginee'"
              [title]="'followUp.commiteeMember' | translate "
              [placeholder]="'followUp.commiteeMember' | translate"
              [items]="member"
              [bindVlaue]="'id'"
              [bindLabel]="'fullName'"
            ></app-select>
          </div>
        </div>
      </div>
  
      <div class="mt-3" *ngIf="form.get('type').value == 1">
        <div class="row">
          <div class="col-6">
            <app-select
              class="d-block"
              formControlName="sector"
              [control]="form | getControl: 'sector'"
              [title]="'followUp.sector' | translate"
              [placeholder]="'followUp.sectorPlaceholder' | translate"
              [items]="sector"
              [bindVlaue]="'id'"
              [bindLabel]="lang == 'ar'? 'arabicName':'name'"
            ></app-select>
          </div>
  
          <div class="col-6" *ngIf="!!(form | getControl: 'sector').value">
            <app-select
              class="d-block"
              formControlName="department"
              [control]="form | getControl: 'department'"
              [title]="'followUp.department' | translate"
              [placeholder]="'followUp.departmentPlaceholder' | translate"
              [items]="department"
              [bindVlaue]="'id'"
              [bindLabel]="lang == 'ar'? 'arabicName' : 'name'"
              [clearable]="true"
            ></app-select>
          </div>
  
          <div class="col-6" *ngIf="!!(form | getControl: 'department').value">
            <app-select
              class="d-block"
              formControlName="section"
              [control]="form | getControl: 'section'"
              [title]="'followUp.section' | translate"
              [placeholder]="'followUp.sectionPlaceholder' | translate"
              [items]="section"
              [bindVlaue]="'id'"
              [bindLabel]="lang == 'ar'? 'arabicName' : 'name'"
              [clearable]="true"
            ></app-select>
          </div>
        </div>
      </div>
  
      <div class="mt-3" *ngIf="!!(form | getControl: 'sector').value">
        <app-select
          class="d-block"
          formControlName="assginee"
          [control]="form | getControl: 'assginee'"
          [title]="'followUp.assignedTo' | translate"
          [placeholder]="'followUp.assigneePlaceholder' | translate"
          [items]="users"
          [bindVlaue]="'id'"
          [bindLabel]="'fullName'"
          [clearable]="true"
        ></app-select>
      </div>
  
      <div>
        <app-description-input-with-attachments
          [isTitle]="false"
          (attachmentUploadEvent)="uploadFile($event)"
          [prevAttachment]="prevUploadedFiles" 
          (onDelete)="deleteAttachment($event)"
          [maxFileSizeInMB]="5">
        </app-description-input-with-attachments>
      </div>
    </div>
  </ng-template>
</div>

<!-- footer buttons -->
<div class="new-model-dialog-footer">

  <!-- back button -->
  <button
    class="btn btn-dark flex-grow-1"
    (click)="close()"
  >
    {{ 'shared.back' | translate }}
  </button>

  <!-- save button -->
  <button
    class="btn btn-main flex-grow-1"
    [disabled]="form?.invalid || btnLoading"
    (click)="addNewTask()"
  >
    <i class="bx bx-loader-alt bx-spin ml-1" *ngIf="btnLoading"></i>
    {{ 'shared.save' | translate }}
  </button>
</div>

<ng-template #skeleton>
    <app-skeleton-loader mode="table"></app-skeleton-loader>
    <app-skeleton-loader mode="table"></app-skeleton-loader>
    <app-skeleton-loader mode="table"></app-skeleton-loader>
    <app-skeleton-loader mode="table"></app-skeleton-loader>
    <app-skeleton-loader mode="table"></app-skeleton-loader>
    <app-skeleton-loader mode="table"></app-skeleton-loader>
    <app-skeleton-loader mode="table"></app-skeleton-loader>
</ng-template>
