@import "src/assets/css/utils/variables.scss";
@import "src/assets/css/utils/mixins.scss";

.closure-request-container {
  padding-bottom: 70px;

  .header-details {
    margin-top: -1.5rem;

    .date {
      color: #a8a8a8;
      font-size: 16px;
      font-weight: 400;

      span {
        color: #3c557a;
      }
    }
  }

  .request-info {
    container: request-info / inline-size;
    position: relative;
    z-index: 1;

    &-title {
      color: $info_color;
      font-size: 0.875rem;
      font-weight: 500;
      margin: 0 0 0.5rem;
    }

    &-list {
      display: grid;
      margin: 0;

      @container request-info (min-width: 700px) {
        & {
          grid-template-columns: repeat(2, 1fr);
          gap: 2rem 1rem;
        }
      }

      @container request-info (max-width: 700px) {
        & {
          grid-template-columns: 1fr;
          gap: 1rem;
        }
      }

      &-item {
        @container request-info (min-width: 700px) {
          &:not(:nth-of-type(2n + 1)) {
            padding-inline-start: 1rem;
            border-inline-start: 0.0625rem solid #96a6bd36;
          }
        }

        @container request-info (max-width: 700px) {
          &:not(:last-of-type) {
            padding-bottom: 1rem;
            border-bottom: 0.0625rem solid #96a6bd36;
          }
        }

        &-content {
          color: $black-color;
          font-weight: 400;
          font-size: 0.875rem;
          line-height: 1.25rem !important;
        }
      }
    }
  }

  .request-form {
    .questions-category {
      background: $white-color;
      padding: 1.25rem;
      box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.04);
      border-radius: 0.625rem;
    }

    .astrix-red {
      color: red;
    }
  }
}

:host ::ng-deep {
  person-item {
    .letters,
    img {
      height: 2.5rem !important;
      width: 2.5rem !important;
      border-radius: 50%;
    }

    .letters {
      font-size: 0.75rem;
    }

    .name {
      font-size: 0.875rem;
    }

    .job {
      &:empty {
        display: none;
      }
    }
  }
}
