<div class="challenges">
  <div class="row">
    <div class="col-12">
      <div class="header-items d-flex justify-content-between">
        <h2>My Challenges</h2>
        <a class="view-all">View all</a>
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <div class="item d-flex">
        <app-badge
          [className]="'primary'"
          [label]="'2 New ideas' | translate"
        ></app-badge>
        <h3 class="title">Reinventing Urban Mobility</h3>
        <span class="desc">In this challenge, we seek innovative solutions to revolutionize urban mobility and transform
          the way people navigate cities.</span>
        <div class="d-flex justify-content-between align-items-center challenge-desc">
          <div class="d-flex flex-column">
            <span class="date-title">Focus area</span>
            <p class="date"> Traffic congestion reduction</p>
          </div>
          <div class="d-flex flex-column">
            <span class="date-title">Due Date</span>
            <p class="date"> July 31, 2023</p>
          </div>

        </div>
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <div class="item d-flex">
        <app-badge
          [className]="'primary'"
          [label]="'2 New ideas' | translate"
        ></app-badge>
        <h3 class="title">Reinventing Urban Mobility</h3>
        <span class="desc">In this challenge, we seek innovative solutions to revolutionize urban mobility and transform
          the way people navigate cities.</span>
        <div class="d-flex justify-content-between align-items-center challenge-desc">
          <div class="d-flex flex-column">
            <span class="date-title">Focus area</span>
            <p class="date"> Traffic congestion reduction</p>
          </div>
          <div class="d-flex flex-column">
            <span class="date-title">Due Date</span>
            <p class="date"> July 31, 2023</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
