@import "src/assets/css/utils/variables.scss";
@import "src/assets/css/utils/mixins.scss";
.kpis-status-container {
  background-color: #ffffff;
  padding: 1.25rem;
  border: 0.0625rem solid #efefef;
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.875rem rgba(0, 0, 0, 0.01);
  overflow: auto;
}

.content-block {
  background-color: $white-color;
  padding: 1.25rem;
  border: 0.0625rem solid $light_white_smoke_color;
  border-radius: 0.625rem;
  box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.04);

  .decisions-header,
  .activities-header {
    padding: 1.25rem 1.25rem 0 1.25rem;
  }

  &-title {
    color: $black_color;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.25rem !important;

    .total-count {
      color: $info_color;
    }
  }

  &-subtitle {
    color: $info_color;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem !important;
  }

  &-length {
    color: $main-color;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem !important;
  }
}
.see-more {
  display: inline-block;
  color: $main-color;
  font-size: 0.875rem;
  font-weight: 400;
  background: none;
}
.analytics-widgets {
  container: analytics-widgets / inline-size;

  &-items {
    display: grid;
    gap: 1rem;

    @container analytics-widgets (min-width: 800px) {
      & {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    @container analytics-widgets (min-width: 500px) and (max-width: 799px) {
      & {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  ::ng-deep app-stats-widget {
    .stats-widget {
      height: 100%;
    }
  }
}
