@import "src/assets/css/utils/mixins.scss";

.team-search-container {
  margin-top: 1em;
  height: 60vh;
  overflow: scroll;
}

.modal-action {
  height: 100%;
}

.actions {
  margin: 15px 0;
  justify-content: flex-end;
  margin-top: 79px;
  position: absolute;
  bottom: 0;
  @include rtl_value(right, 24px, auto);
  @include rtl_value(left, auto, 24px);

  .btn {
    padding: 0.375rem 3.75rem;
  }
}
