@import "src/assets/css/utils/variables.scss";
@import "src/assets/css/utils/mixins.scss";

// .request-details {
//   background-color: #ffffff;
//   padding: 1.25rem;
//   border: 0.0625rem solid #efefef;
//   border-radius: 1.25rem;
//   box-shadow: 0 0.25rem 0.875rem rgba(0, 0, 0, 0.01);
//   overflow: auto;
//   width: 100%;
//   .top-badge {
//     width: fit-content;
//     background-color: rgba(172, 181, 193, 0.15);
//     color: #96a6bd;
//     font-size: 0.75rem;
//     padding: 2px 10px;
//     border-radius: 2.5rem;
//   }

//   .main-title {
//     font-size: 1rem;
//   }

//   .block-title {
//     color: #96a6bd;
//     font-size: 0.75rem;
//     font-weight: 500;
//     margin: 1.5rem 0 0.5rem;
//   }

//   .sponsor-info {
//     container: sponsor-info / inline-size;
//     position: relative;
//     z-index: 1;
//     padding: unset !important;
//     &-list {
//       display: grid;

//       @container sponsor-info (min-width: 700px) {
//         & {
//           grid-template-columns: repeat(4, 1fr);
//         }
//       }

//       @container sponsor-info (min-width: 500px) and (max-width: 699px) {
//         & {
//           grid-template-columns: repeat(3, 1fr);
//           gap: 1rem;
//         }
//       }

//       @container sponsor-info (max-width: 500px) {
//         & {
//           grid-template-columns: 1fr;
//           gap: 1rem;
//         }
//       }

//       &-item {
//         text-align: left;
//         @container sponsor-info (min-width: 700px) {
//           &:not(:first-of-type) {
//             padding-inline-start: 1rem;
//             border-inline-start: 0.0625rem solid #96a6bd36;
//           }
//         }

//         @container sponsor-info (min-width: 500px) and (max-width: 699px) {
//           &:nth-of-type(-1n + 3) {
//             padding-bottom: 1rem;
//             border-bottom: 0.0625rem solid #96a6bd36;
//           }
//         }

//         @container sponsor-info (max-width: 500px) {
//           &:not(:last-of-type) {
//             padding-bottom: 1rem;
//             border-bottom: 0.0625rem solid #96a6bd36;
//           }
//         }

//         &-content {
//           font-weight: 400;
//           font-size: 0.875rem;
//           line-height: 1.25rem !important;

//           ::ng-deep person-item {
//             .personItem {
//               > .avatar {
//                 .letters,
//                 img {
//                   height: 2rem !important;
//                   width: 2rem !important;
//                 }

//                 .letters {
//                   font-size: 0.75rem;
//                 }
//               }

//               > .info {
//                 .name {
//                   font-size: 0.875rem;
//                   margin-bottom: 0;
//                 }
//                 // .job{
//                 //   display: none;
//                 // }
//               }
//             }
//           }
//         }
//       }
//     }
//   }
//   .employees-container {
//     container: employees / inline-size;
//     position: relative;
//     z-index: 1;

//     .employees-content {
//       display: flex;
//       gap: 3rem;
//       margin-bottom: 2.5rem;

//       @container employees (max-width: 768px) {
//         flex-direction: column;
//       }

//       ::ng-deep person-item {
//         .avatar {
//           flex-shrink: 0;
//         }
//       }

//       .chairman {
//         display: flex;
//         flex-direction: column;
//         background-color: #f1f7ff;
//         text-align: center;
//         padding: 0.75rem;
//         border-radius: 0.625rem;

//         @container employees (min-width: 768px) {
//           width: 24%;
//         }

//         &-title {
//           color: #96a6bd;
//           font-size: 0.75rem;
//           font-weight: 500;
//           margin-bottom: 0.75rem;
//         }

//         ::ng-deep person-item {
//           flex-grow: 1;
//           display: flex;
//           align-items: center;
//           justify-content: center;

//           .personItem {
//             flex-direction: column;
//           }

//           .avatar img {
//             height: 3.75rem;
//             width: 3.75rem;
//           }
//         }
//       }

//       .coordinator {
//         padding: 0.5rem 0;

//         @container employees (min-width: 768px) {
//           width: 24%;
//         }

//         &-title {
//           color: #96a6bd;
//           font-size: 0.75rem;
//           font-weight: 500;
//           margin-bottom: 1.25rem;
//         }
//       }

//       .members {
//         padding: 0.5rem 0;

//         @container employees (min-width: 768px) {
//           width: 52%;
//         }

//         &-title {
//           color: #96a6bd;
//           font-size: 0.75rem;
//           font-weight: 500;
//           margin-bottom: 1.25rem;
//         }

//         &-list {
//           list-style-type: none;
//           padding: 0;
//           margin: 0;
//           display: grid;
//           grid-auto-flow: column;
//           grid-template-rows: auto auto;
//           grid-template-columns: repeat(2, 1fr);
//           column-gap: 2.5rem;
//           row-gap: 1rem;

//           &-item {
//             margin-bottom: 5px;
//           }
//         }
//       }
//     }
//   }

//   .objectives-container {
//     container: objectives / inline-size;

//     .objectives-list {
//       list-style-type: none;
//       padding: 0;
//       margin: 1.25rem 0 0;
//       display: grid;
//       gap: 1.25rem;

//       @container objectives (min-width: 600px) {
//         grid-template-columns: 1fr 1fr;
//       }

//       @container objectives (max-width: 600px) {
//         grid-template-columns: 1fr;
//       }

//       &-item {
//         display: grid;
//         grid-template-columns: 1.25rem auto;
//         gap: 0.875rem;

//         i.bx {
//           color: $main-color;
//           flex-shrink: 0;
//           font-size: 1.25rem;
//         }
//       }
//     }
//   }

//   .horizontal-line {
//     height: 0.0625rem;
//     background-color: #efefef;
//     margin: 2.5rem 0;
//   }
// }
.block {
  &-content {
    background-color: $white-color;
    padding: 1.25rem;

    border-radius: 0.625rem;
    box-shadow: 0px 0.25rem 0.875rem rgba(0, 0, 0, 0.01);
  }

  &-title {
    color: $black-color;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.25rem !important;
  }

  &-subtitle {
    color: $info_color;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.125rem !important;
  }
}
.see-more-btn {
  display: inline-block;
  color: $info_color;
  font-size: 0.875rem;
  font-weight: 400;
  background: none;
  padding: 0;
  border: 0;

  &:hover {
    text-decoration: underline;
  }
}

.see-more {
  display: inline-block;
  color: $main-color;
  font-size: 0.875rem;
  font-weight: 400;
  background: none;
  margin: 1.5rem 0 0.5rem;
}

::ng-deep app-badge {
  .badge-status::before {
    display: none;
  }
}
.info{
  &-container{
    display: flex;
    gap: 10px;
    .request-details{
      width: 100%;
    }
    .members-list{
      width: 30%;
    }
  }
}



