@import "src/assets/css/utils/variables.scss";
@import "src/assets/css/utils/mixins.scss";

.board-task-card {
  background-color: $white-color;
  padding: 0.75rem;
  border: 0.0625rem solid $light_white_smoke_color;
  border-radius: 0.625rem;
  transition: border-color 0.15s;

  .subTasksContainer {
    transition: display 2s ease-in-out;
    opacity: 1;
  }
  .subTasksShow {
    display: block;
    height: auto;
  }
  .hideSubTask {
    display: none;
    transition: opacity 1s ease-out;
    opacity: 0;
  }
  .horizontal-line {
    height: 1px;
    background-color: #efefef;
    margin: 40px 0;
  }
  .subTaskItme {
    width: 100% !important;
    cursor: pointer;
    height: auto;
    display: flex;
    //width: fit-content;
   // height: 0.0625rem;
    border-bottom : 1px solid #efefef;
   // margin: 2.5rem 0;
   padding-bottom: .7rem;
  }
  .subTaaskIcon {
    margin: 0.4rem 10px 0px 10px;
  }
  .mainTitle {
    background-color: rgba(172, 181, 193, 0.149);
    color: #5271ff;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    padding: 0px 1rem;
  }

  &-category {
    ::ng-deep {
      .badge-status::before {
        content: none;
      }
    }
  }

  &-date {
    color: $info_color;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.25rem;
    display: flex !important;
    align-items: center !important;
  }

  &-title {
    color: $black-color;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem !important;
    word-break: break-word;
  }
  &-code {
    color: $black-color;
    font-size: small;
    word-break: break-word;
  }

  ::ng-deep .priority {
    .badge-status::before {
      content: none;
    }
  }

  &-progress {
    margin-top: 0.75rem;

    .progress-percentage {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
      color: $black-color;
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 1.25rem;
    }

    .progress-bar {
      position: relative;
      height: 0.25rem;
      background-color: #ebedef;
      margin-top: 0.5rem;
      border-radius: 0.625rem;
      overflow: hidden;

      .fill {
        display: block;
        position: absolute;
        top: 0;
        @include rtl_value(left, 0, auto);
        @include rtl_value(right, auto, 0);
        height: 100%;
        width: 0%;
      }
      .none {
        background: linear-gradient(to right, #808080, #b6b6b6);
      }
      .half {
        background: linear-gradient(to right, #ffa800, #ffcc6a);
      }
      .afterHalf {
        background: linear-gradient(to right, #840aff, #b75bd8);
      }
      .done {
        background: linear-gradient(to right, #52af31, #3ed126);
      }
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 0.75rem;
    margin-top: 1rem;
    border-top: 1px solid $light_white_smoke_color;

    .task-meta {
      display: flex;
      align-items: center;
      gap: 1rem;
      width: fit-content !important;
      margin: 0;

      &-item {
        display: flex;
        align-items: center;
        gap: 0.375rem;

        &-subTasks {
          cursor: pointer;
        }
      }

      &-count {
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.25rem;
      }

      i {
        color: $info_color;
        font-size: 1rem;
      }
    }

    ::ng-deep person-item {
      .avatar {
        .letters,
        img {
          height: 2rem !important;
          width: 2rem !important;
        }

        .letters {
          font-size: 0.75rem;
        }
      }

      .name {
        font-size: 0.875rem;
        margin-bottom: 0;
      }

      .job {
        display: none;
      }
    }
  }

  &:not(.status-3) {
    .board-task-card-progress {
      .progress-bar {
        .fill {
          background-color: #ffa800;
        }
      }
    }
  }

  &.status-3 {
    .board-task-card-progress {
      .progress-bar {
        .fill {
          background-color: #0fc161;
        }
      }
    }
  }
}

.see-more-btn {
  display: inline-block;
  color: $info_color;
  font-size: 0.875rem;
  font-weight: 400;
  background: none;
  padding: 0;
  border: 0;

  &:hover {
    text-decoration: underline;
  }
}
