<div class="meeting-card">
  <div class="d-flex align-items-start justify-content-between gap-3 mb-3">
    <h5 class="meeting-card-title mb-0">
      <a (click)="goToMeeting()">{{ meeting?.name }}</a>
    </h5>

    <div class="meeting-card-time"> {{ meeting?.date | meetingTimeLeft: meeting?.timeFrom: meeting?.timeTo :lang }}</div>
  </div>

  <div class="d-flex align-items-center justify-content-between gap-3">
    <div class="d-flex align-items-center gap-2">
      <span class="meeting-card-status bg-{{ meetingStatuses[meeting?.status]['className'] }}"></span>
      <span class="meeting-card-duration">
        {{
          lang === "en" ?
          (convertUTCDateToLocalDate( meeting?.timeFrom).toLocaleString() | date: "hh:mm a") :
          (convertUTCDateToLocalDate(meeting?.timeFrom).toLocaleString() | localizeDate : "hh:mm a")
        }}
        -
        {{
          lang === "en" ?
          (convertUTCDateToLocalDate(meeting?.timeTo).toLocaleString() | date: "hh:mm a") :
          (convertUTCDateToLocalDate(meeting?.timeTo).toLocaleString() | localizeDate : "hh:mm a")
        }}
      </span>
    </div>

    <div class="meeting-card-location icon-{{meeting?.locationType}}">
      <ng-container *ngIf="meeting?.locationType == 1; else not_video">
        <i class='bx bxs-video'></i>
      </ng-container>
      <ng-template #not_video>
        <i class='bx bxs-building'></i>
      </ng-template>
    </div>
  </div>
</div>