<div class="chart-container">
  <div class="header">
    <span class="title">{{ "dashboard.deliverables" | translate }}</span>
  </div>

  <div class="chart" [hidden]="!shouldShowDeliverablesChart">
    <canvas
      class="my-chart"
      id="myChart"
      width="181"
      height="181"
      #myChart
    ></canvas>
  </div>

  <div class="no-data-message" *ngIf="!shouldShowDeliverablesChart">{{ "dashboard.noDataAvailable" | translate }}</div>

  <div class="labels">
    <ul>
      <li *ngFor="let label of labels">
        <div class="first-col">
          <span
            class="dot"
            [ngStyle]="{ 'background-color': label.color }"
          ></span>
          <span class="text">{{ label.text }}</span>
        </div>
        <div class="second-col">
          <span class="count" [ngStyle]="{ color: label.color }">
            {{ label.value }}
          </span>
          <!-- <span class="percentage">{{ label.percentage }}%</span> -->
        </div>
      </li>
    </ul>
  </div>
</div>
