<nav class="app-navbar">
  <div class="app-navbar-inner">

    <!-- navbar links -->
    <ul class="app-navbar-links">
      <li class="app-navbar-links-item"></li>
    </ul>

    <!-- navbar actions -->
    <ul class="app-navbar-actions">

      <!-- user profile menu -->
      <li class="app-navbar-actions-item profile-actions"  *ngIf="personItem">
        <person-item
          [item]="personItem"
          [hasUserCard]="false"
          [isAllowedToChangePhoto]="true"
          (logout)="logout()"
        ></person-item>
      </li>

      <li class="logout" *ngIf="!personItem" (click)="logout()">
        <i class="bx bx-log-out"></i>
        <span>{{'shared.logout' | translate}}</span>
      </li>

      <!-- language switcher -->
      <li class="app-navbar-actions-item language-actions">
        <button (click)="switchLanguage()">
          <span [ngClass]="{ 'ar-font': lang === 'en', 'en-font': lang === 'ar' }">
            {{ "shared.switchLanguage" | translate }}
          </span>
        </button>
      </li>
    </ul>
  </div>
</nav>