<app-header-page
  [title]="'closureRequests.closureRequests' | translate"
  [totalItems]="closureRequestsTotal"
  [backButton]="true"
></app-header-page>

<!-- page filters -->
<app-page-filters
  [searchValue]="searchModel?.keyword"
  [hasAssignedSwitch]="true"
  [assignedSwitchId]="'onlyMe'"
  [assignedSwitchLabel]="'closureRequests.assignedToMe' | translate"
  [assignedSwitchValue]="filterModel?.hasTask"
  [hasAdvancedFilter]="true"
  [popupAdvancedFilter]="true"
  [appliedFiltersCount]="filterModel?.appliedFiltersCount"
  (onSwitch)="onAssignedToMeChange($event)"
  (search)="handleSearchFilter($event)"
  (onOpenAdvancedFilterModel)="onFilter()"
></app-page-filters>

<!-- <div class="filters my-4">
  <app-select
    [placeholder]="'shared.sortBy' | translate"
    [items]="sortItems"
    [value]="searchModel.sortBy"
    [bindVlaue]="'name'"
    [bindLabel]="lang == 'ar' ? 'nameAr' : 'name'"
    [dropdownPosition]="'bottom'"
    (change)="onSort($event)"
  ></app-select>
</div> -->

<div class="requests-list" *ngIf="!loading && closureRequests?.length > 0">
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="request-index">#</th>
        <th scope="col" class="request-title">{{ 'shared.title' | translate }}</th>
        <th scope="col">{{ 'shared.status' | translate }}</th>
        <th scope="col">{{ 'shared.date' | translate }}</th>
        <th scope="col">{{ 'shared.createdBy' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="
        let item of closureRequests
          | paginate
            : {
                itemsPerPage: searchModel?.pageSize,
                currentPage: searchModel?.page,
                totalItems: closureRequestsTotal
              };
        let i =index;
      ">
        <td class="request-index">
          {{ i | tableItemIndex : searchModel?.pageSize : searchModel?.page }}
        </td>
        <td class="request-title">
          <a class="hoverableLink" [routerLink]="'/closure-requests/details/' + item?.id">
            {{ 'closureRequests.closureRequestOf' | translate }}: {{ item?.project?.name[lang] }}
          </a>
        </td>
        <td>
          <app-badge
            *ngIf="item.status.title.en === 'Approved'"
            [className]="'complete'"
            [label]="item?.status.title[lang]"
          ></app-badge>
          <app-badge
            *ngIf="item.status.title.en === 'Rejected'"
            [className]="'rejected'"
            [label]="item?.status.title[lang]"
          ></app-badge>
          <app-badge
            *ngIf="item.status.title.en === 'Returned for Correction'"
            [className]="'closed'"
            [label]="item?.status.title[lang]"
          ></app-badge>
          <app-badge
            *ngIf="item.status.mappedStatusCode === 'PendingForReview'"
            [className]="'inProgress'"
            [label]="item?.status.title[lang]"
          ></app-badge>
        </td>
        <td>
          {{
            lang === "en" ?
            ((item.createdDate | uTCToLocalDate) | date : "dd/MM/yyyy") :
            ((item.createdDate | uTCToLocalDate) | localizeDate : "dd/MM/yyyy")
          }}
        </td>
        <td>
          <person-item
            *ngIf="item?.createdBy"
            [ownerItem]="item.createdBy"
            [CompMode]="2"
            [noCursor]="true"
            [isUserCardFixed]="true"
          ></person-item>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="no-data" *ngIf="!loading && closureRequests?.length === 0">
  <app-no-data [msg]="'closureRequests.noClosureRequestsAvailable' | translate"></app-no-data>
</div>

<pagination-controls
  *ngIf="!loading && closureRequests?.length !== 0 && closureRequestsTotal > searchModel?.pageSize"
  (pageChange)="onPaginate($event)"
  class="my-pagination"
  maxSize="5"
  responsive="true"
  [previousLabel]="'shared.prev' | translate"
  [nextLabel]="'shared.next' | translate"
></pagination-controls>

<div class="mt-2" *ngIf="loading && (!closureRequests || closureRequestsTotal == 0)">
  <app-skeleton-loader class="w-100" [mode]="'table'" *ngFor="let i of [1, 2, 3, 4, 5, 6]"></app-skeleton-loader>
</div>

<app-loading-modal
  [displayModal]="displayLoadingModal"
  [content]="loadingModalText"
></app-loading-modal>

<app-closure-requests-modal
  [lang]="lang"
  [states]="requestStates"
  [filters]="filterModel"
  (resetFilter)="onResetFilterConfirmed($event)"
  (filter)="onFilterConfirmed($event)"
></app-closure-requests-modal>