<div class="group-performance">

    <div class="noGroup" *ngIf="!selectedScoreCardId">
        <img src="assets/img/no-data.png" />
        <p>{{ 'performanceDashboard.noScorecards' | translate}}</p>
    </div>
    
    <div class="data" *ngIf="selectedScoreCardId">
        <ng-container *ngIf="perSubGoalLoading; else data">
            <ng-container [ngTemplateOutlet]="skeleton"></ng-container>
        </ng-container>

        <ng-template #data>
            <!-- Level Performance -->
            <div class="level-performance">
                <level-performance [data]="subGroupPerformanceData"></level-performance>
            </div>
        </ng-template>
    </div>

</div>

<ng-template #skeleton>
    <app-skeleton-loader mode="table"></app-skeleton-loader>
    <app-skeleton-loader mode="table"></app-skeleton-loader>
    <app-skeleton-loader mode="table"></app-skeleton-loader>
    <app-skeleton-loader mode="table"></app-skeleton-loader>
    <app-skeleton-loader mode="table"></app-skeleton-loader>
    <app-skeleton-loader mode="table"></app-skeleton-loader>
    <app-skeleton-loader mode="table"></app-skeleton-loader>
</ng-template>