.meetings-filters-container {
  position: relative;
  z-index: 1;
  container: meetings-filters / inline-size;

  .meetings-filters {
    display: grid;
    gap: 1rem;

    @container meetings-filters (min-width: 700px) {
      & {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
