
@import "../../../assets/css/utils/variables.scss";

.table {
    thead {
        border-top: 1.04993px solid rgba(102, 102, 102, 0.08);
        border-bottom: 1.04993px solid rgba(102, 102, 102, 0.08);

        tr th {
            padding-top: 17px !important;
            padding-bottom: 17px !important;
            font-weight: 700;
            font-size: 12.5991px;
            line-height: 17px;
            color: $main-color;

        }
    }

    tbody {
        border: none !important;

        tr {
            border-top: 1.04993px solid rgba(102, 102, 102, 0.08);
            border-bottom: 1.04993px solid rgba(102, 102, 102, 0.08);

            td {
                font-weight: 400;
                font-size: 12.5991px;
                line-height: 17px;
                color: #3C557A;
                vertical-align: middle;
                padding-top: 14px;
                padding-bottom: 14px;
            }

            &:hover {
                td .table-details-btn {
                    visibility: visible;
                }
            }
        }


    }
}
