@import "../utils/variables.scss";
.table {
  thead {
    border-top: 1.04993px solid rgba(102, 102, 102, 0.08);
    border-bottom: 1.04993px solid rgba(102, 102, 102, 0.08);

    tr th {
      padding-top: 17px !important;
      padding-bottom: 17px !important;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      color: $main-color;
    }
  }

  tbody {
    border: none !important;

    tr {
      border-top: 1.04993px solid rgba(102, 102, 102, 0.08);
      border-bottom: 1.04993px solid rgba(102, 102, 102, 0.08);

      &:last-of-type {
        border-bottom: 0;

        td {
          border-bottom: 0;
        }
      }

      td {
        font-weight: 400;
        font-size: 12.5991px;
        line-height: 17px;
        color: #3c557a;
        vertical-align: middle;
        padding-top: 12px;
        padding-bottom: 12px;
        border-bottom: 0;
      }
    }
  }
}

.attachment {
  display: flex;
  align-items: center;

  a {
    color: #3c557a;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: inherit;
    white-space: normal;
    word-break: break-word;

    &:hover {
      text-decoration: underline;
    }
  }

  i {
    font-size: 22px;
    margin-inline-end: 5px;
    color: #717986;
  }
}
