@import "src/assets/css/utils/mixins.scss";

.box-service {
  position: relative;
  width: 100%;
  background: #ffffff;
  padding: 20px;
  box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.04);
  border-radius: 10px;

  .badge-labal {
    background: #f4f4f4;
    border-radius: 5px;
    padding: 10px;
    color: #a9a9a9;
    padding: 5px 10px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
  }

  .start-btn {
    border-radius: 8px !important;
    padding: 10px 12px;
    font-weight: 500;
    font-size: 14px;
    height: 36px;
    min-height: auto;
  }

  .title-service {
    color: #3c557a;
    font-weight: 500;
    font-size: 18px;
    margin-top: 12px;
    height: 55px;

    @media (max-width: 400px) {
      margin-bottom: 0 !important;
    }
  }

  .rating-services {
    justify-content: space-between;
    margin-top: 15px;
    flex-wrap: wrap;
    gap: 10px;
  }

  .favorite-services {
    background-color: transparent;
    border: 0;
    position: absolute;
    top: 17px;
    @include rtl_value(left, 88%, 29px);

    @media (max-width: 400px) {
      position: unset;
    }
  }

  .rating {
    display: block;
    margin-inline-start: 5px;
  }
}
