@import "src/assets/css/utils/variables.scss";
@import "src/assets/css/utils/mixins.scss";

// tabs styles
.tabsmenu {
  --tab-height: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;

  &__item {
    flex-grow: 1;
    &:hover {
      & ~ .tabsmenu__item {
        .tabsmenu__link {
          &:before {
            @include rtl_value(left, 0, 100%);
            @include rtl_value(right, 100%, 0);
          }
        }
      }

      & .tabsmenu__link {
        color: $black-color;

        &:before {
          @include rtl_value(left, 0, 0);
          @include rtl_value(right, 0, 0);
        }
      }
    }
  }

  &:not(:hover) {
    .tabsmenu__item.active {
      & .tabsmenu__link {
        color: $black-color;

        &:before {
          @include rtl_value(left, 0, 0);
          @include rtl_value(right, 0, 0);
        }
      }
    }
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: var(--tab-height);
    line-height: var(--tab-height);
    color: $info_color;
    font-weight: 500;
    white-space: nowrap;
    padding: 0 1rem;

    &::before {
      content: "";
      position: absolute;
      @include rtl_value(left, 100%, 0);
      @include rtl_value(right, 0, 100%);
      bottom: -1px;
      // border-bottom: 2px solid $main-color;
      transition: 0.16s all 0.025s;
    }

    i {
      font-size: 1.125rem;
    }
  }
}
.hint-message {
  background-color: $white-color;
  border: 0.0625rem solid #efefef;
  border-radius: 0.625rem;
  box-shadow: 0px 0.25rem 0.875rem rgba(0, 0, 0, 0.01);
}
.new-committee-form {
  background: $white-color;
  padding: 20px;
  border: 1px solid #efefef;
  border-radius: 10px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.01);

  .add-new-btn {
    background: none;
    color: $main-color;
    padding: 0;
    border: 0;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
  .objectives {
    &-container {
      container: objectives / inline-size;
    }

    &-items {
      display: grid;
      gap: 1rem;

      @container objectives (min-width: 700px) {
        & {
          grid-template-columns: repeat(3, 1fr);
        }
      }

      @container objectives (min-width: 500px) and (max-width: 699px) {
        & {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}

.astrix-red {
  color: red;
}

::ng-deep {
  .ng-dropdown-panel {
    .ng-option-disabled {
      cursor: not-allowed !important;
    }
  }
  .members-select {
    .ng-select-container {
      height: auto !important;
      min-height: 44px;

      .ng-value {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 5px;
        padding: 4px 6px 4px 4px;
        background-color: rgba(172, 181, 193, 0.15) !important;
        border-radius: 40px !important;

        .ng-value-label {
          padding: 0 !important;
        }

        .ng-value-icon {
          height: 13px;
          line-height: 13px;
          font-size: 18px;
          color: $tertiary-color;
          background: none !important;
          border: none !important;

          &:hover {
            color: $danger-color !important;
          }
        }
      }

      person-item {
        .avatar {
          .letters,
          img {
            margin-inline-end: 4px;
          }
        }

        .name {
          font-size: 12px;
        }
      }
    }
    .ng-dropdown-panel {
      .ng-option-disabled {
        opacity: 0.5;
      }
    }

    person-item {
      .avatar {
        .letters {
          height: 20px;
          width: 20px;
          font-size: 8px;
        }
      }
      .name {
        margin-bottom: 0;
      }
    }
  }
  .viceChairman-select,
  .secretory-select{
    .ng-select-container {
      height: auto !important;
      min-height: 44px;

      .ng-value {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 5px;
        padding: 4px 6px 4px 4px;
        background-color: rgba(172, 181, 193, 0.15) !important;
        border-radius: 40px !important;

        .ng-value-label {
          padding: 0 !important;
        }

        .ng-value-icon {
          height: 13px;
          line-height: 13px;
          font-size: 18px;
          color: $tertiary-color;
          background: none !important;
          border: none !important;

          &:hover {
            color: $danger-color !important;
          }
        }
      }

      person-item {
        .avatar {
          .letters,
          img {
            margin-inline-end: 4px;
          }
        }

        .name {
          font-size: 12px;
        }
      }
    }
    .ng-dropdown-panel {
      .ng-option-disabled {
        opacity: 0.5;
      }
    }

    person-item {
      .avatar {
        .letters {
          height: 20px;
          width: 20px;
          font-size: 8px;
        }
      }
      .name {
        margin-bottom: 0;
      }
    }
  }
}

.change-request-details {
  &-reason {
    &-title {
      font-weight: 400;
      font-size: 14px;
      color: #96a6bd;
    }
    &-content {
      font-weight: 400;
      font-size: 14px;
      color: #121824;
      margin-top: -0.7rem;
    }
  }

  &-description {
    &-title {
      font-weight: 400;
      font-size: 14px;
      color: #96a6bd;
    }
    &-content {
      font-weight: 400;
      font-size: 14px;
      color: #121824;
      margin-top: -0.7rem;
    }
  }

  &-msg {
    margin-top: 2rem;
    &-content {
      font-weight: 500;
      font-size: 15.55px;
      color: #121824;
    }
  }
}

::ng-deep {
  .arNameLable label {
    text-align: right;
  }
  .enNameLable label {
    text-align: left;
  }
}
