.selected-users-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    li {
        margin-inline-end: 10px;
        margin-bottom: 10px;

        .project-card-status-badge {
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: space-between;
            white-space: nowrap;

            i {
                font-size: 18px;
                margin-inline-start: 10px;
                cursor: pointer;
            }
        }
    }
}