<div class="d-flex justify-content-between committee-dashboard-types">
  <div
    class="d-flex justify-content-center w-50 committee-dashboard-types-canvas"
  >
    <canvas
      class="my-chart"
      id="myChart2"
      width="170"
      height="170"
      #myChart
    ></canvas>
    <span *ngIf="data" class="committee-dashboard-types-canvas-total">
      {{ data?.total }}
    </span>
  </div>

  <div class="d-flex justify-content-center w-50">
    <div class="committee-dashboard-types-info">
      <h3 class="committee-dashboard-types-info-title">
        {{ "committeeDashboard.dashboard.committeeCategories" | translate }}
      </h3>
      <div class="committees-categories">
        <div
          *ngFor="let item of chartLables; let i = index"
          class="committee-dashboard-types-info-financial committees-categories-category d-flex mt-3"
        >
          <span
            class="committee-dashboard-types-info-financial-square"
            [ngStyle]="{ 'background-color': backgroundColors[i] }"
          ></span>
          <span class="committee-dashboard-types-info-financial-lable ml-2">
            {{ item }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
