<ng-container *ngIf="loading; else filter">
  <div class="my-4">
    <app-skeleton-loader mode="table"></app-skeleton-loader>
  </div>
</ng-container>

<ng-template #filter>
  <div class="items">

    <!-- type select -->
    <div class="item">
      <label>{{ "followUp.type" | translate }}</label>
      <app-select
        [clearable]="true"
        [placeholder]="'shared.all' | translate"
        [items]="lookupsMeetingType"
        [(ngModel)]="filterValues.typeCode"
        (ngModelChange)="changeFilter()"
        [bindVlaue]="'code'"
        [bindLabel]="lang == 'ar' ? 'nameAr' : 'nameEn'"
        [dropdownPosition]="'bottom'"
      ></app-select>
    </div>

    <!-- status select -->
    <div class="item">
      <label>{{ "followUp.status" | translate }}</label>
      <app-select
        [items]="status"
        [clearable]="true"
        [placeholder]="'shared.all' | translate"
        [(ngModel)]="filterValues.status"
        (ngModelChange)="changeFilter()"
        [bindVlaue]="'id'"
        [bindLabel]="lang == 'ar' ? 'name' : 'nameEn'"
        [dropdownPosition]="'bottom'"
      ></app-select>
    </div>
  </div>
</ng-template>

<app-model
  [dimensions]="{ width: 700, height: 750 }"
  [id]="'filter-item'"
  [hasBackBtn]="false"
  [hasTitle]="false"
  [isNewModel]="true"
>
  <div modal-header class="follow-up-item-model-header w-100">
    <label class="modal-title">
      {{ 'followUp.advancedFilter' | translate }}
    </label>
  </div>

  <div modal-content class="follow-up-item-model-content border-top">
    <app-advanced-filter
      *ngIf="isAdvancedFilterClicked"
      (filter)="advancedFilter($event)"
    ></app-advanced-filter>
  </div>
</app-model>
