.buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  position: sticky;
  @media (max-width: 490px) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
  }
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: #fff;
  button {
    width: 154px;
    font-weight: 500;
    font-size: 18px;
    &:first-child {
      margin-inline-end: 11px;
      @media (max-width: 490px) {
        margin-inline-end: 0;
      }
    }
  }
}

.right-btns {
  display: flex;
  align-items: center;
  gap: 8px;
}

.validation {
  span {
    color: red;
    display: inline-block;
    width: 100%;
  }
}
