<!-- Add Goal -->
<div class="target">
  <!-- Internal weight & contribution -->
  <form [formGroup]="model.weightForm">
    <div class="weight-wrapper row">
      <div class="internal-weight col-md-6 col-sm-12">
        <div class="val">
          <frequency-input
            [title]="'Planning.internalWeight' | translate"
            [Item]="1"
            formControlName="internalWeight"
            class="intial"
          ></frequency-input>
          <div
            class="error"
            *ngIf="model.internalWeightVal < 0 || model.internalWeightVal > 100"
          >
            <span>{{ "Planning.internalWeightMsg" | translate }}</span>
          </div>
        </div>
      </div>
      <div class="contribution-weight col-md-6 col-sm-12">
        <div class="val">
          <frequency-input
            [title]="'Planning.contributionWeight' | translate"
            [Item]="1"
            formControlName="contributionWeight"
            class="intial"
          ></frequency-input>
          <div
            class="error"
            *ngIf="model.internalWeightVal < 0 || model.internalWeightVal > 100"
          >
            <span>{{ "Planning.internalWeightMsg" | translate }}</span>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- Measurement Type -->
  <div class="measurment-type">
    <label>{{ "Planning.measurementType" | translate }}</label>
    <div class="types">
      <div class="type" *ngFor="let type of model.types">
        <button
          class="btn"
          [ngClass]="{ active: type.isActive }"
          (click)="model.toogleTypeActivations(type)"
        >
          {{ type.txt }}
        </button>
      </div>
    </div>
  </div>

  <!-- Defining Target -->
  <div class="define-target">
    <label>{{ "Planning.defineTheTarget" | translate }}</label>
    <div class="target-wrap">
      <form [formGroup]="model.targetForm">
        <div
          class="check"
          [ngStyle]="{
            display: model.IsBaselineKBI || model.getDateMode ? 'none' : 'block'
          }"
        >
          <app-checkbox
            title="{{ 'Planning.updateGoalProgressText' | translate }}"
            formControlName="isParentLinkedToChildren"
            [(ngModel)]="model.isParentLinkedToChildren"
            [disabled]="true"
          ></app-checkbox>
        </div>
        <div class="check">
          <app-checkbox
            title="{{ 'Planning.centeralizedKpi' | translate }}"
            [disabled]="model.isParentLinkedToChildren"
            [ngStyle]="{
              display: model.isL0Goal ? 'none' : 'block'
            }"
            formControlName="isCentralizedKPI"
          ></app-checkbox>
        </div>
        <div class="check">
          <app-checkbox
            title="{{ 'Planning.baselineKBI' | translate }}"
            formControlName="isBaseline"
            (valueChnaged)="model.chnageBaselingKBI($event)"
            [disabled]="true"
          ></app-checkbox>
        </div>
        <div
          class="child"
          [ngStyle]="{
            display:
              model.IsBaselineKBI || model.getSubGoalMode() ? 'none' : 'block'
          }"
        >
          <frequency-input
            title="{{ 'Planning.initial' | translate }}"
            [Item]="model.selectedType"
            [disabled]="model.IsBaselineKBI"
            class="intial col-md-6 pl-0"
            formControlName="initial"
            [control]="model.targetForm | getControl : 'initial'"
            [isSubmitted]="model.isSubmitted"
            [disabled]="true"
          ></frequency-input>
        </div>
        <div
          class="child"
          [ngStyle]="{
            display:
              model.IsBaselineKBI || model.getSubGoalMode() ? 'none' : 'block'
          }"
        >
          <frequency-input
            title="{{ 'Planning.totalTarget' | translate }}"
            [Item]="model.selectedType"
            class="intial col-md-6 pl-0"
            [disabled]="model.IsBaselineKBI"
            formControlName="totalTarget"
            [control]="model.targetForm | getControl : 'totalTarget'"
            [isSubmitted]="model.isSubmitted"
            (valueChanged)="model.setFrequencies($event)"
          ></frequency-input>
        </div>
        <div class="child"></div>
        <div class="child">
          <div
            class="check"
            [ngStyle]="{
              display:
                model.IsBaselineKBI ||
                model.getSubGoalMode() ||
                model.getDateMode ||
                model.isYearlyFreq
                  ? 'none'
                  : 'block'
            }"
          >
            <app-checkbox
              title="{{ 'Planning.equalTargetAndFreqLabel' | translate }}"
              formControlName="IsMaintainTargetForFrequency"
              [disabled]="true"
            ></app-checkbox>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Frequency Type -->
  <div [ngStyle]="{ display: model.IsBaselineKBI ? 'none' : 'block' }">
    <div class="freq-type" *ngIf="!model.getDateMode">
      <label>{{ "Planning.frequencyUpdate" | translate }}</label>
      <div class="types">
        <div class="type" *ngFor="let type of model.freq">
          <button
            class="btn"
            [ngClass]="{ active: type.isActive }"
            (click)="model.toogleFreqActivations(type)"
          >
            {{ type.txt }}
          </button>
        </div>
      </div>
    </div>

    <div class="freq-container" *ngIf="!model.isParentLinkedToChildren">
      <cr-frequency
        [selectedType]="model.selectedType"
        [isShowOnlyInternalWeight]="
          model.isParentLinkedToChildren ? true : false
        "
        [selectedFreq]="model.selectedFreq"
        (setFreqMeasurementEvt)="model.setAllData($event)"
      ></cr-frequency>
    </div>
  </div>
</div>
