<app-request-header [title]="'EServices.deleteEService.headerTitle' | translate"   [isValid]="form.valid"
(submit)="deleteEService()"></app-request-header>

<form class="new-event-form" [formGroup]="form">

  <h3>{{lang == 'en' ? eServiceData?.serviceTitle : eServiceData?.serviceTitleAr}}</h3>
  <div class="form-group mt-4">
    <app-text-editor
      [id]="'deleteReason'"
      formControlName="deleteReason"
      [title]="'EServices.deleteEService.deleteReason' | translate"
      [hasAttachments]="false"
      [control]="form | getControl : 'deleteReason'"
    ></app-text-editor>
  </div>
  <div class="form-group mt-4">
    <app-text-editor
      [id]="'deleteObjective'"
      formControlName="deleteObjective"
      [title]="'EServices.deleteEService.deleteObjective' | translate"
      [hasAttachments]="false"
      [control]="form | getControl : 'deleteObjective'"
    ></app-text-editor>
  </div>

    <!-- attatchment control -->
    <div class="form-group mt-4">
      <app-attachments-files
      [title]="'EServices.attachment' | translate"
      [accept]="'doc,docx,pdf'"
      [maxSize]="5"
      [control]="form | getControl : 'attachment'"
      [hint]="'EServices.attachmentHint' | translate"
      (attachmentUploadEvent)="uploadFile($event)"
    ></app-attachments-files>
    </div>
  </form>