@import "../../../../../../assets/css/utils/mixins.scss";

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: sticky;

  @media (max-width: 490px) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
  }

  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: #fff;

  button {
    width: 154px;
    font-weight: 500;
    font-size: 18px;

    &:first-child {
      margin-inline-end: 11px;

      @media (max-width: 490px) {
        margin-inline-end: 0;
      }
    }
  }
}

app-checkbox {
  @include rtl_key(margin-, right, left, 15px);
  @include rtl_key(margin-, left, right, 0);
}

.astrix-red {
  color: red;
}

app-radio-group {
  @media (max-width: 576px) {
    flex-wrap: wrap;
    gap: 8px;
  }
}
app-radio-box {
  margin-inline-end: 45px;
  text-transform: capitalize;
}

.attendee-container {
  height: 56vh;
  overflow: auto;
  // width: fit-content;
}
