<div class="container bg-white pt-2 pb-5 border">
  <div class="page-data mt-3">
    <ng-container *ngIf="isLoading || isLoadingMainTaskDetails; else create_form">
      <ng-container [ngTemplateOutlet]="skeleton"></ng-container>
    </ng-container>
  </div>

  <ng-template #create_form>
    <form class="new-event-form" [formGroup]="form">
      <div class="form-header d-flex justify-content-end align-items-center">
        <!-- <div class="title-wrapper d-flex align-items-center gap-3">
          <i
            class="bx bx-arrow-back"
            [ngClass]="{ ar: lang === 'ar' }"
            [routerLink]="['/bau/taskboard/' + selectedYear + '/tasks-table']"
          ></i>
          <h6 class="text">
            {{ "bau.createNewMainTask" | translate }}
          </h6>
        </div> -->
        <div class="button-wrapper d-flex gap-2">
          <button
            type="button"
            class="btn cancel"
            [routerLink]="['/bau/taskboard/' + selectedYear + '/tasks-table']"
          >
            {{ "bau.cancel" | translate }}
          </button>
          <button
            type="submit"
            class="btn submit"
            [disabled]="!form.valid || uploadingFile"
            (click)="onSubmit()"
          >
            <i class="bx bx-loader-alt bx-spin ml-1" *ngIf="uploadingFile"></i>
            {{ btnText | translate }}
          </button>
        </div>
      </div>

      <div class="opacity-25">
        <hr class="my-4 mx-2" />
      </div>

      <!-- title controls -->
      <div class="row">
        <div class="col form-group mt-3 lang-order-1">
          <app-filed
            formControlName="titleEn"
            [control]="form | getControl : 'titleEn'"
            [title]="'bau.mainTaskTitle' | translate"
            [placeholder]="'bau.mainTaskTitlePlaceholder' | translate"
          ></app-filed>
        </div>
        <div class="col form-group mt-3 lang-order-2">
          <app-filed
            formControlName="titleAr"
            [control]="form | getControl : 'titleAr'"
            [title]="'bau.mainTaskTitleArabic' | translate"
            [placeholder]="'bau.mainTaskTitleArabicPlaceholder' | translate"
          ></app-filed>
        </div>
      </div>

      <!-- description control -->
      <div class="form-group mt-4">
        <label class="form-label">
          {{ "shared.description" | translate }}
          <span class="required">*</span>
        </label>
        <angular-editor formControlName="description" [config]="editorConfig">
          <ng-template #customButtons>
            <ae-toolbar-set>
              <ae-button
                iconClass="fa fa-paperclip fa-lg"
                title="Attachment"
                (buttonClick)="attachments.click()"
              ></ae-button>
            </ae-toolbar-set>
          </ng-template>
        </angular-editor>

        <input
          hidden
          #attachments
          type="file"
          [accept]="supportedAttachmentTypes.join(',')"
          (change)="onUploadFile($event)"
        />

        <uploaded-attachments-files
          *ngIf="this.mode == 'create'"
          class="d-block mt-3"
          [files]="uploadedFiles"
          [supportedTypes]="'shared.descriptionAttachmentsTypes' | translate"
          (deleteFile)="onDeleteFile($event, 'new')"
          (viewFile)="onViewLocalFile($event, 'new')"
          [maxSize]="maxFileSizeInMB"
        ></uploaded-attachments-files>

        <uploaded-attachments-files
          class="d-block mt-3"
          [files]="oldAttachments"
          (deleteFile)="onDeleteFile($event, 'old')"
          (viewFile)="onViewLocalFile($event, 'old')"
          [old]="true"
        ></uploaded-attachments-files>
      </div>

      <!-- realted to controls -->
      <div class="d-flex gap-2 mt-4 align-items-center hirerchy">
        <div class="col form-group">
          <app-select
            class="d-block select-control"
            formControlName="sectorId"
            [title]="'bau.sector' | translate"
            [control]="form | getControl : 'sectorId'"
            [placeholder]="'bau.sectorPlaceholder' | translate"
            [items]="sector"
            [bindVlaue]="'id'"
            [bindLabel]="lang == 'ar' ? 'arabicName' : 'name'"
            [clearable]="true"
            (change)="triggerHirerchyDebounced()"
          ></app-select>
        </div>

        <div class="col form-group">
          <app-select
            class="d-block select-control"
            formControlName="departmentId"
            [title]="'bau.department' | translate"
            [control]="form | getControl : 'departmentId'"
            [placeholder]="'bau.departmentPlaceholder' | translate"
            [items]="department"
            [bindVlaue]="'id'"
            [bindLabel]="lang == 'ar' ? 'arabicName' : 'name'"
            [clearable]="true"
            (change)="triggerHirerchyDebounced()"
          ></app-select>
        </div>

        <div
          class="col form-group"
          *ngIf="(form | getControl : 'departmentId').value !== null"
        >
          <app-select
            class="d-block select-control"
            formControlName="sectionId"
            [title]="'bau.section' | translate"
            [control]="form | getControl : 'sectionId'"
            [placeholder]="'bau.sectionPlaceholder' | translate"
            [items]="section"
            [bindVlaue]="'id'"
            [bindLabel]="lang == 'ar' ? 'arabicName' : 'name'"
            [clearable]="true"
            (change)="triggerHirerchyDebounced()"
          ></app-select>
        </div>
      </div>

      <!-- assignedTo to controls -->
      <div class="d-flex gap-2 mt-4 align-items-center">
        <div class="form-group col-4 d-flex">

          <app-select
            class="input-select"
            formControlName="assignedTo"
            [dir]="lang === 'en' ? 'ltr' : 'rtl'"
            [title]="'bau.subTask.assignTo' | translate"
            [control]="form | getControl : 'assignedTo'"
            [clearable]="true"
            [placeholder]="'bau.employeePlaceholder' | translate"
            [items]="employees"
            [bindLabel]="'fullName'"
            [bindVlaue]="'id'"
            (search)="searchEmployees($event)"
            [loading]="isGettingEmployees"
          >
          </app-select>
          <!-- <div
            *ngIf="
              form.get('assignedTo').hasError('required') &&
              form.get('assignedTo').touched
            "
          >
            <span class="error-message">
              {{ "shared.validations.required" | translate }}
            </span>
          </div> -->
        </div>
      </div>

      <!-- realted kpis control -->
      <div class="form-group mt-4">
        <label class="form-label">
          {{ "bau.relatedKPIs" | translate }}
        </label>
        <div>
          <button
            type="button"
            class="btn btn-outline-primary"
            (click)="onOpenKPIsModal()"
            [disabled]="(form | getControl : 'departmentId').value == null"
          >
            <!-- <i class="bx bx-loader-alt bx-spin ml-1" *ngIf="isGettingKPIs"></i> -->
            {{ "bau.selectKPIs" | translate }}
            <i
              class="bx mx-auto"
              [ngClass]="{
                'bx-left-arrow-alt': lang == 'ar',
                'bx-right-arrow-alt': lang != 'ar'
              }"
            ></i>
          </button>
          <div class="mt-2">
            <app-strategy-mapping-list
              *ngIf="selectedStrategicKPIs.length > 0"
              [list]="selectedStrategicKPIs"
              [language]="lang"
            ></app-strategy-mapping-list>
          </div>
        </div>
      </div>

      <!-- importance level control -->
      <div class="d-flex mt-4 gap-3 importance">
        <app-importance-level
          [title]="'bau.importanceLevel' | translate"
          [control]="form | getControl : 'importanceLevel'"
          [selectedButton]="
            form.controls.importanceLevel.value
              ? form.controls.importanceLevel.value
              : null
          "
        ></app-importance-level>
        <!-- <div
          class="alert alert-warning col d-flex gap-2 align-items-center"
          role="alert"
        >
          <i class="bx bxs-info-circle"></i>
          <div class="worning-text col">{{ "bau.alertText" | translate }}</div>
        </div> -->
      </div>

      <div class="d-flex gap-2 mt-4">
        <!-- budget control -->
        <div class="budget form-group col-4">
          <app-filed
            formControlName="budget"
            [control]="form | getControl : 'budget'"
            [title]="'bau.budget' | translate"
            [placeholder]="'bau.budgetPlaceholder' | translate"
            [isNumber]="true"
            [maxValue]="availableBudget"
          ></app-filed>
          <span
            class="budget-sub-text mt-1"
            [ngClass]="{
              'text-danger':
                (form | getControl : 'budget').value > availableBudget
            }"
          >
            {{ "bau.remainingBudget" | translate }}
            {{ availableBudget - (form | getControl : "budget").value }}
            {{ "bau.AED" | translate }}
          </span>
        </div>

        <!-- period control -->
        <div class="form-group col d-flex flex-wrap">
          <label for="" class="form-label col-12">
            {{ "bau.period" | translate }}
            <span class="required">*</span>
          </label>
          <div class="col-12 d-flex gap-2 date-picker-wrapper">
            <div class="col">
              <app-datepicker
                [date]="form.controls.startDate.value | DatePipe"
                [allowPastDate]="false"
                (getSelectedDate)="onDateSelect('startDate', $event)"
              ></app-datepicker>
              <div *ngIf="form.get('startDate').hasError('invalidYear')">
                <span class="error-message">
                  {{ "bau.invalidYear" | translate }}
                </span>
              </div>
            </div>

            <div class="col">
              <app-datepicker
                [allowPastDate]="false"
                [date]="form.controls.endDate.value | DatePipe"
                (getSelectedDate)="onDateSelect('endDate', $event)"
              ></app-datepicker>
              <div *ngIf="form.get('endDate').hasError('invalidYear')">
                <span class="error-message">
                  {{ "bau.invalidYear" | translate }}
                </span>
              </div>
              <div
                *ngIf="form.hasError('endDateSmallerThanStartDate', 'endDate')"
              >
                <span class="error-message">
                  {{ "bau.invalidDate" | translate }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- roles -->
      <div
        class="form-group mt-4 d-flex flex-wrap linked-roles"
        *ngIf="(form | getControl : 'departmentId').value !== null"
      >
        <label class="col-12">
          {{ "bau.linkedDepartmentRoles&Responsibilities" | translate }}
        </label>
        <div
          *ngIf="isGettingRoles"
          class="spinner-border text-secondary"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
        <div *ngIf="!isGettingRoles && roles.length > 0">
          <div
            class="wrapper col-12 d-flex p-2 gap-2"
            *ngFor="let role of roles"
          >
            <input
              type="checkbox"
              [checked]="role.checked"
              (change)="role.checked = !role.checked; updateLinkedRoles()"
            />
            <span>
              {{ lang == "en" ? role.nameEn : role.nameAr }}
            </span>
          </div>
        </div>

        <div
          class="empty-roles text-danger mx-2"
          *ngIf="!isGettingRoles && roles.length == 0"
        >
          {{ "bau.noRolesFound" | translate }}
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #skeleton>
    <app-skeleton-loader mode="table"></app-skeleton-loader>
    <app-skeleton-loader mode="table"></app-skeleton-loader>
    <app-skeleton-loader mode="table"></app-skeleton-loader>
    <app-skeleton-loader mode="table"></app-skeleton-loader>
    <app-skeleton-loader mode="table"></app-skeleton-loader>
    <app-skeleton-loader mode="table"></app-skeleton-loader>
    <app-skeleton-loader mode="table"></app-skeleton-loader>
  </ng-template>
</div>

<app-model
  [dimensions]="{ width: 800, height: 750 }"
  [id]="'KPIs-Select'"
  [hasBackBtn]="false"
  [hasTitle]="false"
  [isNewModel]="true"
>
  <div modal-header class="plan-start-model-header w-100">
    <label class="modal-title">{{ "bau.linkActivitywiththeKPIs" | translate }}</label>
  </div>

  <div modal-content class="plan-start-model-content border-top">
    <ng-container *ngIf="isGettingKPIs; else strategic_kpis">
      <ng-container [ngTemplateOutlet]="skeleton"></ng-container>
    </ng-container>
    <ng-template #strategic_kpis>
      <div class="strategic-kpis-wrapper">
        <app-strategic-kpis
          [treeData]="kpIs"
          [selectedKPisIds]="selectedStrategicKPIs"
          [isFormSubmitted]="false"
          [readOnly]="false"
          (onSelect)="getSelectedKpiIds($event)"
          (onSelectKPIs)="getSelectedKpiObjects($event)"
        ></app-strategic-kpis>
      </div>
    </ng-template>
    <ng-template #skeleton>
      <app-skeleton-loader mode="table"></app-skeleton-loader>
      <app-skeleton-loader mode="table"></app-skeleton-loader>
      <app-skeleton-loader mode="table"></app-skeleton-loader>
      <app-skeleton-loader mode="table"></app-skeleton-loader>
    </ng-template>
    <!-- footer buttons -->
    <div class="new-model-dialog-footer">
      <!-- back button -->
      <button class="btn btn-dark flex-grow-1" (click)="onPopupClose()">
        {{ "shared.back" | translate }}
      </button>
    </div>
  </div>
</app-model>
