.internal-weight {
  margin: 25px 0;
  width: 48%;
  .checkBox {
    margin: 15px 0;
  }
}


.error {
  span {
    color:red;
  }
}

.custom-label {
  display: block;
    color: #717986;
    font-size: 16px;
    margin: 15px 0;
}

