<div class="new-model-dialog-body">
  <div class="mt-3">
    <label class="form-label">{{ 'users.name' | translate }}</label>
    <input
      type="text"
      class="form-control"
      disabled
      [value]="user?.fullName"
    />
  </div>

  <div class="groups-roles-container mt-3">
    <ul *ngIf="user?.usersGroups?.length > 0">
      <h3 class="title">{{ 'users.groups' | translate }}</h3>
      <li *ngFor="let group of user?.usersGroups">{{ lang === 'en'? group.name : group.arabicName }}</li>
    </ul>
    <ul *ngIf="user?.usersRoles?.length > 0">
      <h3 class="title">{{ 'users.roles' | translate }}</h3>
      <li *ngFor="let role of user?.usersRoles">{{ lang === 'en'? role.name : role.nameAr }}</li>
    </ul>
  </div>
</div>

<!-- footer buttons -->
<div class="new-model-dialog-footer">

  <!-- back button -->
  <button
    class="btn btn-dark flex-grow-1"
    (click)="onPopupClose()"
  >
    {{ 'shared.back' | translate }}
  </button>
</div>