@import "src/assets/css/utils/mixins.scss";
@import "src/assets/css/components/form-inputs.scss";

:host ::ng-deep {
  .tabs-items {
    margin-block: 0.75rem 1.5rem;
  }
}

.entity-form {
  .group {
    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  .title {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #bebebe;
    margin-bottom: 30px;
  }

  .row {
    align-items: center;
    margin-bottom: 25px;

    label {
      //font-weight: 500;
      margin: 0;
    }

    .info {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      color: #adadad;
    }
  }
}

.add-items {
  display: flex;
  justify-content: space-between;

  button {
    margin-inline-start: 15px;
  }
}

.fileds {
  display: flex;
  align-items: center;

  app-filed {
    margin-inline-start: 5px;
  }

  &.fileds2 {
    app-filed {
      margin-inline-start: 0;
    }
  }

  .feild-content {
    // min-height: 90px;
    @include rtl_key(margin-, right, left, 5px);
    @include rtl_key(margin-, left, right, 0);

    p {
      color: red;
    }
  }
}

.item-added {
  display: flex;
  // margin-top: 9px;
  padding: 8px;
  justify-content: space-between;

  p {
    margin: 0;
    // margin-inline-start: 15px;
    direction: ltr;
  }
}

.item-edit {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    background: none;
    border: 0;
    margin-inline-start: 5px;

    i {
      font-size: 18px;
    }
  }
}

.item-info {
  border: 1px solid #adadad;
  border-radius: 5px;
}

.IsOther {
  justify-content: flex-end;
  label{
    line-height: 2em;
  }
}

.edit-item {
  display: flex;
  margin-top: 10px;

  button {
    min-height: 44px;
    margin-inline-start: 5px;
  }
}

.other {
  margin-inline-end: 8px;
}

.h-5 {
  height: 5.5em;
}

.h-7 {
  height: 7em;
}

.mb-1 {
  margin-bottom: 1em !important;
}

.mb-2 {
  margin-bottom: 2.5em !important;
}

.mt-1 {
  margin-top: 1em !important;
}
