<div class="tasks-progress-container">
    <div class="header">
        <div class="first-col">
            <span class="title">{{ "dashboard.projectStatusChart" | translate }}</span>
            <app-filter-dropdown>
            </app-filter-dropdown>
        </div>
        <div class="second-col">
            <div class="key">
                <span class="dot"></span>
                <span class="label">Targeted</span>
            </div>
            <div class="key">
                <span class="dot"></span>
                <span class="label">Actual</span>
            </div>
        </div>
    </div>

    <div class="bar-chart">
        <canvas class="my-chart" id="myChart" #myChart></canvas>
    </div>

</div>