<div class="innovation-card">
  <div class="items  w-100">
    <div class="row">
      <div class="col-lg-4 col-12">
        <div class="item d-flex">
          <span class="item-title">Total Challenger</span>
          <h3 class="number">1,540</h3>
          <div class="d-flex justify-content-between align-items-center">
            <img width="14" src="assets/img/arrow-narrow-up.svg">
            <span class="percentage">5.14%</span>
            <span class="percentage-desc"> increased vs last year</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="item d-flex">
          <span class="item-title">New ideas</span>
          <h3 class="number">200</h3>
          <div class="d-flex justify-content-between align-items-center">
            <img width="14" src="assets/img/arrow-narrow-down.svg">
            <span class="percentage text-danger">5.14%</span>
            <span class="percentage-desc"> increased vs last year</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="item d-flex">
          <span class="item-title">Best score</span>
          <h3 class="number">1,540</h3>
          <div class="d-flex justify-content-between align-items-center">
            <img width="14" src="assets/img/arrow-narrow-up.svg">
            <span class="percentage">5.14%</span>
            <span class="percentage-desc"> increased vs last year</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


