.requests-filters-container {
  position: relative;
  z-index: 1;
  container: requests-filters / inline-size;

  .requests-filters {
    display: grid;
    gap: 1rem;

    @container requests-filters (min-width: 700px) {
      & {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

.text-transparent {
  color: transparent;
}

.transparent-title {
  ::ng-deep app-nz-date-picker {
    label {
      color: transparent !important;
    }
  }
}
