<!-- Modal -->
<div class="modal fade confirm-modal"
     [id]="id ? id : 'basicModalCenter'"
     data-bs-backdrop="static"
     role="dialog"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <span class="text-center d-block content" [innerHTML]="content"></span>
      </div>

      <div class="modal-footer">
        <button type="button" *ngIf="!showOkOnlyBtn"
                class="btn btn-outline-main"
                data-bs-dismiss="modal"
                (click)="onCancel()">
          {{ 'shared.back' | translate }}
        </button>
        <button type="button" *ngIf="!showOkOnlyBtn"
                class="btn"
                [class]="'btn btn-' + btnStyle"
                data-dismiss="modal"
                (click)="modalconfirm()">
          {{btnContent | translate}}
        </button>
        <button type="button"
            [class]="'btn btn-' + btnStyle"
            data-bs-dismiss="modal"
            (click)="onCancel()" *ngIf="showOkOnlyBtn">
          {{ 'shared.ok' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>