@import "src/assets/css/utils/variables.scss";

.add-new-btn {
  display: block;
  background: none;
  color: $main-color;
  font-weight: 500;
  padding-block: 0;
  padding-inline: 1.5rem;
  margin-block: 2rem 1rem;
  margin-inline-start: auto;
  border: 0;

  &:hover {
    text-decoration: underline;
  }
}

.discussed-list {
  overflow-x: auto;

  table {
    width: 100%;

    tr {
      --actions-width: 70px;

      &:not(:first-of-type) {
        border-bottom: 1px solid #efefef;
      }

      th {
        color: $info_color;
        font-size: 0.75rem;
        font-weight: 500;
        padding: 0 1.25rem;
      }

      td {
        font-weight: 400;
        padding: 0.625rem 1.25rem;
      }

      .discussed-title {
        min-width: 150px;
      }

      .see-more {
        display: inline-block;
        color: $main-color;
        font-size: 0.875rem;
        font-weight: 400;

        &:hover {
          text-decoration: underline;
        }
      }

      .discussed-actions {
        width: var(--actions-width);

        .edit-grid-item-btn {
          height: 1.25rem;
          width: 1.25rem;
          background: none;
          color: $black-color;
          padding: 0;
          border: 0;
          transition: color 0.15s ease-in-out;

          &:hover {
            color: $main-color;
          }
        }
      }
    }
  }

  .no-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-block: 1rem 2rem;

    ::ng-deep app-no-data {
      .no-data {
        position: static;
        top: initial;
        left: initial;
        transform: none;
      }

      img {
        display: block;
        margin: auto;
        width: 101px;
        height: 83px;
      }

      p {
        width: auto;
        font-size: 0.875rem;
        margin: 1.5rem 0 0;
      }
    }
  }
}

see more .see-more-btn {
  display: inline-block;
  color: $info_color;
  font-size: 0.875rem;
  font-weight: 400;
  background: none;
  padding: 0;
  border: 0;

  &:hover {
    text-decoration: underline;
  }
}
