@import "src/assets/css/utils/variables.scss";

:host {
  display: flex;
  align-items: center;
}

::ng-deep org-chart {
  .ngx-org-border,
  .ngx-org-connector {
    border-color: $gainsboro_color;
  }
}

.ngx-org-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: $white-color;
  padding: 1.25rem;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.04);
  border-radius: 0.625rem;
  border: none;
  cursor: context-menu;

  .level {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    min-height: 30px;
    color: #000;
    padding: 0 5px;
    border: 1px solid #000;
  }

  .code {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    height: 30px;
    background-color: #000;
    color: #fff;
    padding: 0 6px;
  }

  .ngx-org-name {
    font-size: 16px;
  }
}
