.table {
  --index-width: 50px;
  --actions-width: 70px;
  width: 100%;

  .index {
    width: var(--index-width);
  }

  .voting {
  }

  .actions {
    width: var(--actions-width);
  }
}

.list-button {
  font-size: 18px;
  background: transparent;
  border: 0;
}

.edit-icons {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  border: 0;
  font-size: 22px;
  background-color: #00db99;
  color: #fff;
}
