@import "src/assets/css/utils/variables.scss";

.form-container {
  background: #fff;
  margin-top: 10px;
  width: 100%;
}

.control {
  position: relative;
}

.btn-edit {
  color: #b3b3b3;
  background: none;
  border: 0;
}

.header-title {
  h3 {
    color: $main-color;
    font-size: 20px;
  }
}

.edit-filed {
  position: relative;

  button {
    position: absolute;
    right: 10px;
    top: 40px;
    background-color: $main-color;
    color: #fff;
    border: 0;
  }
}
