$primary-color: #5D2E82;
$secondary-color: #717986;
$tertiary-color: #3c557a;
$success-color: #0FC161;
$danger-color: #FF7373;
$warning-color: #fbc103;
$info_color: #96A6BD;
$dark-gray-color: #8b8b8b;
$medium-gray-color: #b8bcc3;
$gray-color: #f1f2f7;
$light-gray-color: #f9f9f9;
$white-color: #ffffff;
$page-bg-color: #f9f9f9;

$main-color: #5271ff;
// $primary-color: #3C81FB;
$Medium_slate_blue_color: #727cf5;
$nero_color: #2a2a2a;
$midnight_express_color: #272a33;
$black_color: #353535;
$black_russian_color: #272932;
$white_smoke_color: #f3f3f3;
$light_white_smoke_color: #f1f1f1;
$light_white_color: #f0f0f0;
$alice_blue_color: #f5f7fa;
$alice_light_blue_color: #e9f2ff;
$solitude_color: #ebedf3;
// $warning-color: #ffa877;
$warning-Background-color: #f6f0e1;
// $danger-color: #D9799B;
$light-danger-color: #d9799b1f;
$light-success-color: #81d9791f;
$turquoise_color: #2fd5b7;
$pigment_green_color: #10b759;
$gray-color: #fafafa;
$simi_white_color: #f9f9f9;
$slate_white_color: #b5b5b5;
$simi_gray_color: #888;
$slate_gray_color: #727e8c;
$balance_color: #b2b2b2;
$dark_gray_color: #a8a8a8;
$border_color: #a8a8a82e;
$dim_gray_color: #686868;
$mischka_color: #9da5be;
$pine_glade_color: #c1c1c187;
$light_gray_color: #d0d0d0;
$chambray_color: #525f80;
$indigo-color: #8e51ff;
$sub_title_color: #7581a8;
$light_gray_color: #f5f7fa;
$dodger_blue_color: #1e7afe;
$navy_blue_color: #0060df;
$light_blue_color: #e3ecfc;
$honeysuckle_color: #dadfe663;
$bg-color: #f2f4f9;
$title_color: #0e101a;
$navy_color: #484d62;
$selago_color: #e2e7fa;
$black_Squeeze_color: #dff1f3;
$turquoise_color: #2fd5b7;
$deActive_btn_color: #dfdfdf;
$periwinkle_gray_color: #cfd5e8;
$min_light_greay_color: #f5f5f5;
$preiwinklye_color: #eaeaea;
$royal_blue_color: #4761d7;
$white_blue_color: #d7e0ef;
$heliotrope_color: #8858ff;
$whisper_color: #eeeeee;
$blue_charcoal_color: #212529;
$rich_blue_color: #5046bb;
$royal_blue_color: #2962ff;
$pine_glade_color: #c1c1c187;
$sidebar_text_color: #7e7e7e;
$gainsboro_color: #dedede;
$aluminium_color: #878d94;
$light_skyblue: #77beff;
$light_orange: #ffa877;
$orange_color: #e3ba26;
$maya_blue_color: #77beff;
$lemon_color: #f5de0d;
$medium_purple_color: #b377ff;
$link_water_color: #c5c6c7;
$solitude_color: #e8eaed;
$alice_blue: #fafbfc;
$alice_blue_color: #f5f7fa;
$nero_color: #2a2a2a;
$mischka_color: #9da5be;
$pine_glade_color: #c1c1c187;
$dark_black_color: #333333;

//Light Colors
$light-main-color: lighten($main-color, 15%);
$light-primary-color: lighten($primary-color, 32%);
$lighter-primary-color: rgba(60, 129, 251, 0.12);
$light-warning-color: lighten($warning-color, 32%);
$light-info-color: lighten($info_color, 32%);
$light-indigo-color: lighten($indigo-color, 32%);

//Dark Colors
$dark-success-color: darken($success-color, 15%);
$dark-info-color: darken($info_color, 15%);

$font-size: 15px;
$transition: 0.5s;