<div class="timeline-container">
  <!-- [ngClass]="{
    completed: item?.statusEn === 'Completed',
    active: item?.statusEn === 'Pending',
    upcoming: item?.statusEn === 'Upcoming'
  }" -->
  <div
    class="timeline-item"
    *ngFor="let item of items; let i = index"
    (click)="onItemClick(item)"
  >
    <div class="timeline-card-header">
      <div class="first-col">
        <span class="step-number">{{ "shared.step" | translate }} {{ i + 1 }}</span>
        <!-- <span class="step-date">
          {{ item?.createdDate | date: "dd/MM/yyyy" }}
        </span> -->
      </div>
      <!-- <span class="step-status" *ngIf="item?.statusEn === 'Upcoming'">
        {{ "Upcoming" | translate }}
      </span>
      <span class="step-status" *ngIf="item?.statusEn === 'Pending'">
        {{ "Pending" | translate }}
      </span>
      <span class="step-status" *ngIf="item?.statusEn === 'Completed'">
        <i class="bx bx-check"></i> {{ "Completed" | translate }}
      </span> -->
      <span class="step-status">
        {{ item?.statusEn }}
      </span>
    </div>
    <div class="timeline-card-footer">
      <div class="profile-container flex-row">
        <div class="img-wrapper">
          <img
            *ngIf="item?.assignedTo.fileUrls?.length > 0"
            [src]="item?.assignedTo.fileUrls[0]?.fileUrl"
            alt=""
          />
          <div *ngIf="!item?.assignedTo.fileUrls?.length > 0" class="letters">
            {{ item.assignedTo.Name }}
          </div>
        </div>
        <div class="profile-details">
          <span class="name">{{ item?.assignedTo.fullName }}</span>
          <span class="position">{{ item?.assignedTo.roles.join(", ") }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
