<div class="auth-container">

  <!-- language switcher -->
  <button
    class="btn btn-link lang-switch"
    [ngClass]="{ 'ar-font': lang === 'en', 'en-font': lang === 'ar' }"
    (click)="switchLanguage()"
  >
    {{ "shared.switchLanguage" | translate }}
  </button>

  <!-- main content -->
  <div class="inner">
    <div class="left-side">
      <img class="logo" src="assets/img/dcaa-logo.svg" alt="DCAA Logo" />
    </div>

    <div class="right-side">
      <h3 class="auth-form-title text-center">
        {{ "auth.loginToYourAccount" | translate }}
      </h3>

      <ng-container *ngIf="!isAzureAuthLoading">
        <button (click)="loginWithAzure()" class="microsoft-auth-btn btn w-100">
          <i class="bx bx-loader-alt bx-spin" *ngIf="isAzureBtnLoading"></i>
          <img src="assets/icons/microsoft-colored-icon.svg" alt="Microsoft" *ngIf="!isAzureBtnLoading">

          <span>{{ "auth.loginWithMicrosoft" | translate }}</span>
        </button>

        <div class="or-text">
          <span>{{ "auth.or" | translate }}</span>
        </div>

        <form
          *ngIf="mode === 'username_mode' || mode === 'password_mode'"
          class="w-100"
          [formGroup]="loginForm"
          (submit)="onNextHandler()"
          (keyup.enter)="login()"
        >
          <div class="form-group">
            <label for="email" class="form-label">{{ 'auth.email' | translate }}</label>

            <div class="auth-input-container">
              <input
                formControlName="email"
                type="email"
                class="form-input"
                [placeholder]="'auth.typeEmailAddress' | translate"
                name="email"
                id="email"
              />
              <i class="bx bx-user"></i>
            </div>
          </div>
          <small
            *ngIf="loginForm.controls.email.errors?.pattern"
            class="form-error"
          >
            <i class="bx bxs-error-circle"></i>
            <span>{{ "auth.invalidEmailFormat" | translate }}</span>
          </small>

          <div class="form-group mt-4">
            <label for="password" class="form-label">{{ 'auth.password' | translate }}</label>

            <div class="auth-input-container">
              <input
                formControlName="password"
                [type]="isPasswordDisplayed ? 'text' : 'password'"
                [placeholder]="'auth.typePassword' | translate"
                class="form-input"
                name="password"
                id="password"
              />
              <i class="bx bx-lock-alt"></i>
              <img
                class="toggle-password-visibility"
                src="assets/icons/visible.svg"
                alt="visible"
                *ngIf="!isPasswordDisplayed"
                (click)="togglePasswordVisibility()"
              />
              <img
                class="toggle-password-visibility"
                src="assets/icons/invisible.svg"
                alt="invisible"
                *ngIf="isPasswordDisplayed"
                (click)="togglePasswordVisibility()"
              />
            </div>
          </div>

          <!-- <div class="d-flex align-items-center justify-content-between gap-3 flex-wrap w-100 mt-3">
            <app-checkbox
              [id]="'rememberMe'"
              [title]="'auth.rememberMe' | translate"
              [formControlName]="'rememberMe'"
            ></app-checkbox>

            <a class="btn-link" href="#">
              {{ 'auth.forgotPassword' | translate }}
            </a>
          </div> -->
        </form>

        <!-- submit button -->
        <button
          class="login-btn btn btn-main w-100 mt-5"
          [disabled]="isBtnLoading"
          (keyup.enter)="login()"
          (click)="login()"
        >
          {{ "auth.login" | translate }}
        </button>
      </ng-container>

      <ng-container *ngIf="isAzureAuthLoading">
        <div class="azure-loading">
          <i class="bx bx-loader-alt bx-spin ml-1"></i>
          <span>{{ "auth.azureIsProcessing" | translate }}</span>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<!-- loader overlay -->
<div id="part-loader" class="fullLoader" *ngIf="loader">
  <div class="loader-content">
    <img src="assets/img/feather-loader.svg" class="loader" />
  </div>
</div>
