<!--<div class="chart-item row w-100">-->
<!--        <span class="col-2 group-status-badge" *ngIf="goal?.status != null">-->
<!--            <span class=" d-inline-block">-->
<!--                        <app-badge *ngIf="goal?.status != null && goal?.status == status.OffTrack"-->
<!--                                   [className]="'offTrack'"-->
<!--                                   [label]="getLabel('offTrack')"></app-badge>-->
<!--          <app-badge *ngIf="goal?.status != null && goal?.status == status.OnTrack" [className]="'onTrack'"-->
<!--                     [label]="getLabel('onTrack')"></app-badge>-->
<!--          <app-badge *ngIf="goal?.status != null && goal?.status == status.OverAcheived" [className]="'overAchived'"-->
<!--                     [label]="getLabel('overAchived')"></app-badge>-->
<!--          <app-badge *ngIf="goal?.status != null && goal?.status == status.BaseLine" [className]="'baseLine'"-->
<!--                     [label]="getLabel('baseLine')"></app-badge>-->
<!--          <app-badge *ngIf="goal?.status != null && goal?.status == status.NotDue" [className]="'notDue'"-->
<!--                     [label]="getLabel('notDue')"></app-badge>-->
<!--            </span>-->


<!--        </span>-->
<!--  <div [ngClass]="goal?.status !==null ?'col-5' : 'col-6'" class="item-progress-bar  pt-2  d-flex justify-content-end align-items-center">-->
<!--    <span class="mx-4">{{goal.progress}}%</span>-->
<!--    <hr [style.width]="goal.progress * 4 + 'px'" [style.min-width]="goal.progress * 4 + 'px'"-->
<!--        [ngClass]="setCssClass(goal.progress)" align="right"/>-->
<!--  </div>-->
<!--  <span class=" pt-2 col goal-title">-->
<!--        <span class="d-inline-block goal-title">{{lang == 'en' ? goal.title : goal.titleAr}}</span>-->
<!--  </span>-->
<!--</div>-->
