@import "../../../../../assets/css/utils/variables.scss";
@import "../../../../../assets/css/utils/mixins.scss";

.status {
  margin-bottom: 30px;
  // margin-top: 30px;
  .title {
    @include font(20px, 500);
    line-height: 23px;
    color: $tertiary-color;
    margin-bottom: 16px;
  }
  .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
    @media (max-width: 900px) {
      flex-direction: column;
    }
    .buttons {
      display: flex;
      min-width: 879px;
      flex-wrap: wrap;
      justify-content: flex-end;
      @media (max-width: 900px) {
        display: block;
      }
      button {
        margin: 5px;
        @media (max-width: 900px) {
          width: 100%;
        }
      }
    }
  }
  margin-bottom: 20px;
}

.details {
  margin-bottom: 45px;
}
