@import "src/assets/css/utils/variables.scss";

.team-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 0 0.5rem 0.5rem;

  .team-member-card {
    background: $white-color;
    border-radius: 8px;
    // height: 120px;
    height: auto;
    // display: flex;
    align-items: center;
    position: relative;
    // padding: 30px 12px;
    padding: 0 10px;
    cursor: pointer;
    box-shadow: 0px 1px 20px 2px rgba(123, 123, 123, 0.2);
    border: 2px solid transparent;
    user-select: none;
    width: 100%;

    &:hover {
      border-color: #f2f4f9;
    }

    input {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
    }

    .bxs-check-circle {
      color: #cbcbcb;
      font-size: 26px;
      position: absolute;
      top: 5px;
      left: 0px;
    }

    input:checked {
      & + .bxs-check-circle {
        color: $main-color;
      }
    }

    .details-container {
      display: flex;
      padding: 30px 12px;
    }

    .team-member-card-details {
      display: flex;
      align-items: center;
      margin: auto;
      img {
        margin-inline-end: 9px;
        border-radius: 50%;
        object-fit: cover;
        width: 52px;
        height: 52px;
      }

      div {
        display: flex;
        flex-direction: column;

        .member-name {
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          color: $tertiary-color;
          margin-bottom: 4px;
          line-break: normal;
        }

        .member-position {
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          color: $secondary-color;
        }
      }

      .details {
        padding: 30px 12px 10px;
        display: flex;
      }
    }
  }

  .attendant-details {
    position: absolute;
    top: 5px;
    right: 5px;
    p {
      position: relative;
      top: 0px;
      display: inline-block;
      vertical-align: middle;
    }
    i {
      position: relative !important;
      top: 0 !important;
    }
  }
}

.no-pointer {
  cursor: unset !important;
}
