<div class="modal-action">
  <form [formGroup]="form">

    <app-select *ngIf="ReassignActionType" formControlName="user" autofocus [title]="'requests.users' | translate" bindValue="id"
      [placeholder]="'requests.selectUser' | translate" [control]="form | getControl: 'user'"
      [bindLabel]="'fullName'" [items]="users" [multiple]="true">
    </app-select>

    <app-select *ngIf="OverrideActionType" formControlName="step" autofocus [title]="'requests.step' | translate" bindValue="id"
      [placeholder]="'requests.selectStep' | translate" [control]="form | getControl: 'step'"
      [bindLabel]="lang == 'en' ? 'title.en' : 'title.ar'" [items]="steps" [clearable]="true">
    </app-select>

    <app-description-input-with-attachments
      class="d-block pt-3"
      title="{{ 'requests.comments' | translate }}"
      formControlName="comments"
      [control]="form | getControl: 'comments'"
      (attachmentUploadEvent)="uploadFile($event)"
      (onDelete)="deleteAttachment($event)"
      [isCommentRequired]="option?.isCommentRequired"
      [isAttchmentRequired]="option?.isAttachmentRequired"
      [attachmentHint]="option?.attachmentHint"
    ></app-description-input-with-attachments>
  </form>

  <div class="d-flex justify-content-flex-end actions">
    <button class="btn btn-dark mr-2" (click)="closeModel()">
      {{ 'shared.back' | translate }}
    </button>
    <button
      class="btn btn-primary"
      [disabled]="form.invalid || loading || (option?.isAttachmentRequired && attachments?.length == 0)"
      (click)="saveAction()"
    >
      <i *ngIf="loading" class="bx bx-loader-alt bx-spin ml-1"></i>
      <ng-container *ngIf="!loading">{{ 'shared.save' | translate }}</ng-container>
    </button>
  </div>
</div>
<!--
[disabled]="model.isBtnLoading"
(click)="model.onPopupSave()" -->
