// Variables
@import "../../../../../assets/css/utils/variables.scss";

.wrapper {
  display: flex;
  gap: 15px;
}

::ng-deep {
  .ng-select-container {
    min-width: 170px;
    // min-width: 220px;
    .ng-placeholder {
      color: #25364f;
      text-transform: capitalize;
      margin-top: 3px;
    }
  }
}

app-skeleton-loader {
  width: 200px;
}

.l0-badge {
  align-self: flex-end;
  margin-bottom: 8px;
}

label {
  color: $black-color;
  font-weight: bold;
  margin-bottom: 4px;
}
